body {
	background-color: #e7e7f1;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.counter-title {
	font-size: 25px;
	margin: 20px;
	text-align: center;
	font-weight: 800;
}

.counter .row {
	/* flex-flow: column; */
}

.card {
	height: 300px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	font-size: 10rem;
	position: relative;
	overflow: hidden;
}

.red,
.blue {

	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-weight: 800;
	/* transform: rotate(10deg); */
}

.red {
	background-color: #e5322b;
}

.blue {
	background-color: #004c98;
}

.red-pro,
.blue-pro {
	flex: 1;
	margin: 10px 0px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	font-size: 35px;
	position: relative;
	overflow: hidden;
}

/* 板块按钮 */
.button-mark {
	position: absolute;
	/* background-color: #fff; */
	width: 100%;
	height: 100%;
	display: flex;
}

.button-mark-left {
	width: 50%;
	height: 100%;
	/* background-color: #fff; */
	cursor: pointer;
}

.button-mark-right {
	width: 50%;
	height: 100%;
	/* background-color: #fff; */
	cursor: pointer;
}

/* 重置分数 */
.porint-reset,
.porint-check {
	background-color: #a5a51a;
	color: #fff;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	margin: 10px 0px;
	cursor: pointer;
}

.btn-scale {
	animation: btn-scale .5s ease-in-out;
}

@keyframes btn-scale {
	0% {
		transform: scale(.8);
	}

	50% {
		transform: scale(1);
	}

	75% {
		transform: scale(.9);
	}

	100% {
		transform: scale(1);
	}
}
